<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<a href="/formproduit" class="btn btn-success fa fa-plus">Ajouter un nouveau produit</a>
<div class="container">
    <form th:action="@{/index}">
    <div class="mx-2 my-2">

            <label class="form-label" for="form1">Mot clé:</label>
            <input type="text" id="form1" name="mc"  />


        <button type="submit" class="btn btn-primary fa fa-search" />


    </div>
    </form >
    <div class="card">
        <div class="card-header">
            <h2>Liste des Produits</h2>
        </div>
        <div class="card-body">

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantite</th>
                    <th>Categorie</th>
                     <th>Actions</th>



                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${produits}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.prix}"></td>
                    <td th:text="${p.quantite}"></td>
                    <td th:text="${p.categorie != null ? p.categorie.nom : 'N/A'}"></td>
                    <td>
                        <a th:href="@{'/delete/'+${p.id}}" class="btn btn-danger fa fa-trash"></a>
                        <a th:href="@{'/update/'+${p.id}}" class="btn btn-warning fa fa-edit"></a>
                    </td>
                </tr>
                </tbody>


            </table>

            <ul class="nav nav-pills">
                <li th:each="i,c:${pages}">
                    <a th:href="@{/index(page=${c.count},mc=${mc})}"
                    th:text="${c.count}" th:class="${current==c.count-1}?'btn btn-primary mx-2': 'btn btn-outline-primary mx-2 '">

                    </a>
                </li>
            </ul>

        </div>

    </div>

</div>
</body>
</html>